# Core
python-dateutil>=2.8.2
numpy>=1.24.0
pandas>=1.5.0

# GUI
PySide6>=6.6.0

# Data sources
yfinance>=0.2.40

# Visualization
matplotlib>=3.8.0
mplfinance>=0.12.10b0

# Machine Learning
scikit-learn>=1.3.0
scipy>=1.10.0
tensorflow==2.20.0
keras>=3.13.0

# Packaging
pyinstaller>=6.0.0
